body {
    background-image: url(rising\ sun.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(224, 7, 7, 0.76);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 400;
}

h1 {
    color: yellow;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 90px;
}

a {
    color: blueviolet;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}